[submodule "themes/eureka"]
	path = themes/eureka
	url = https://github.com/wangchucheng/hugo-eureka.git
[submodule "public"]
	path = public
	url = git@github.com:wiltonpaulo/wiltonpaulo.github.io.git
	branch = main
